src/mypackage/biblio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteca" type="bibliotecaType"/>
  <xs:complexType name="libroType">
    <xs:sequence>
      <xs:element name="titulo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="El último hombre"/>
            <xs:enumeration value="Aurora"/>
            <xs:enumeration value="El Quijote"/>
            <xs:enumeration value="El Hobbit"/>
            <xs:enumeration value="Fundación"/>
            <xs:enumeration value="Jurassic Park"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="autor">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Mary Shelley"/>
            <xs:enumeration value="Kim S. Robinson"/>
            <xs:enumeration value="Miguel de Cervantes"/>
            <xs:enumeration value="JRR Tolkien"/>
            <xs:enumeration value="Isaac Asimov"/>
            <xs:enumeration value="Michael Crichton"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fecha">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1820"/>
            <xs:enumeration value="2016"/>
            <xs:enumeration value="1605"/>
            <xs:enumeration value="1937"/>
            <xs:enumeration value="1951"/>
            <xs:enumeration value="1990"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bibliotecaType">
    <xs:sequence>
      <xs:element type="libroType" name="libro" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>